# 'mock' for generating mock proofs locally, 'local' for generating proofs locally, 'network' for generating proofs using the proving network.
SP1_PROVER=local
# If using the proving network, set to your whitelisted private key. For more information, see:
# https://docs.succinct.xyz/prover-network/setup.html#key-setup
SP1_PRIVATE_KEY=

Successfully created new keypair.
Address:     0xB96B4b479B5A97144692Fea527b8B1AeE3A22396
Private key: 0x6409ccc3e9a101a56139af64ae873eb95dc567b7cf083a1d8ca848c1844f44ef